<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ site.name }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
      <div class="wrapper">
        <!-- 全ページ共通 -->
        <div class="header">
          <div class="site-about">
            <h1 class="title site-title"><a href="http://megaporon.github.io/">{{ site.name }}</a></h1>
            <p class="site-txt">{{ site.txt }}</p>
          </div>
          <div class="deco-line"></div>
        </div>
      {{content}}
      </div>
    </body>
</html>
