<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ site.name }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

      <div class="wrapper">
    <div class="header">
      <div class="about">
        <h1 class="title">{{ site.name }}</h1>
        <p class="txt">{{ site.txt }}</p>
      </div>
      <div class="title-line"></div>
    </div>
    <div class="content">
      <div class="kiji">
        {% for post in site.posts. %}
        <div class="kiji-day">{{ post.date | date_to_string }}</div>
        <h2 class="kiji-title">{{ post.title }}</h2>
        <div class="kiji-txt">
          <!-- なかなかこれは〜〜〜〜なかなかこれは〜〜〜〜なかなかこれは〜〜〜〜<br>
          なかなかこれは〜〜〜〜 -->
          {{ post.content }}
         
       {% endfor %} 
        </div>
      </div>
      <div>
        <ul class="pagelink cf">
          <li><<前</li>
          <li>　||　</li>
          <li>次>></li>
        </ul>
      </div>
    </div>
    <div class="footer">
      <div class="title-line"></div>
      <div class="copy">
        <p>
          Yurika Shiba<br />
        </p>
        <p>
          <a href="http://github.com/megaporon/">github.com/megaporon</a><br />
        </p>
      </div>
    </div>
  </div>



        <!-- <div class="container">
          <div class="site">
            <div class="header">
              <h1 class="title"><a href="/">{{ site.name }}</a></h1>
              
            </div>

                {{ content }}

            <div class="footer">
              <div class="contact">
                <p>
                  Your Name<br />
                  What You Are<br />
                  your@email.com
                </p>
              </div>
              <div class="contact">
                <p>
                  <a href="http://github.com/yourusername/">github.com/yourusername</a><br />
                  <a href="http://twitter.com/yourusername/">twitter.com/yourusername</a><br />
                </p>
              </div>
            </div>
          </div>
        </div> --> <!-- /container -->
<!--  {% for post in site.posts %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %} -->
    </body>
</html>
